html {
  padding: 0;
  margin: 0;
  /* overflow: auto; */
}

body {
  margin: 0;
  border-left: 1.5vw solid #008c5f;
  font-size: 1.5em;
  overflow-x: hidden;
  overflow-y: initial;
}

#main {
  padding-top: 5vh;
  margin-left: 3vw;
}

#companyName {
  text-decoration: underline;
  font-weight: bold;
}

#main > ul > li {
  color: #009cb2;
}

#foot {
  background-color: yellow;
  height: 50vh;
  /* width: 100%; */
  margin-top: 65vh;
  text-align: center;
    overflow: hidden;
}

#sym {
  font-size: 10em;
    animation:spin 200s linear infinite;
}

#povi {
  padding-bottom: 2vh;
  font-weight: bold;
}

#secondMain {
  font-size: 70em;
  position: fixed;
  top: 10vh;
  right: 15vw;
  /* overflow: hidden; */
  /* display: inline; */
  /* text-align: center; */
  animation:spin 200s linear infinite;
  z-index: -1;
  color: #ff00009e;
}
 
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media screen and (orientation:portrait) {
  body {
    font-size: 1.7em;
  }
}

