html {
  padding: 0;
  margin: 0;
  /* overflow: auto; */
}

body {
  margin: 0;
  border-left: 1.5vw solid #a7c938;
  font-size: 1.5em;
  overflow-x: hidden;
  overflow-y: initial;
}

#hamburger > ul {
  list-style-type: none;
      position: fixed;
    right: 1em;
    top: 0;
    width: 3em;
}

#hamburger > ul > li {
  border-bottom: 0.5em solid black;
  height: 0.5em;
}

#main {
  padding-top: 5vh;
  margin-left: 3vw;
  font-size: 1.5em;
}

#companyName {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
}

#main > ul > li {
  color: #009cb2;
}

#foot {
  background-color: yellow;
  height: 50vh;
  /* width: 100%; */
  margin-top: 65vh;
  text-align: center;
    overflow: hidden;
}

#sym {
  font-size: 10em;
    animation:spin 200s linear infinite;
}

#povi {
  padding-bottom: 2vh;
  font-weight: bold;
}

#secondMain {
  font-size: 70em;
  position: fixed;
  top: 10vh;
  right: 15vw;
  /* overflow: hidden; */
  /* display: inline; */
  /* text-align: center; */
  animation:spin 200s linear infinite;
  z-index: -1;
  color: #ff00009e;
}
 
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media screen and (orientation:portrait) {
  body {
    font-size: 1.7em;
  }
}

#fly {
  position: fixed;
    /* color: #1bf4a780; */
    font-size: 3em;
    bottom: 2vw;
    right: 2vw;
}
