{{define "head"}}
    <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rock+Salt&family=Slackey&display=swap" rel="stylesheet">
      <link rel="stylesheet" content="text/css" href="/public/main.css">
      <script src="public/main.js" defer></script>
    </head>
{{end}}

{{define "homePage"}}
  <div id="main">
    <div id="companyName">Southland Property Management</div>
    <ul>
      <li>Vacant Property Inspection</li>
      <li>Vacant Property Up-Keep</li>
      <li>House Sitting $20/hour or $175 daily</li>
      <li>Utilities Management</li>
    </ul>

    <i><b>No Bullshit ★★★★★</b></i>
   <i>(681) - 222 - 5982 </i>&#128383;
  </div>

  <div id="fly">
     &#9829;
  </div>

  <div id="secondMain">
    &#10049; 
  </div>
{{end}}

{{define "footer"}}
  <div id="foot">
    <div id="sym">☯</div>
    <div id="povi">POSITIVE VIBES 4 EVER</div>
  </div>
{{end}}
