{{define "head"}}
  <!DOCTYPE html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" content="text/css" href="/public/main.css">
      <script src="public/main.js" defer></script>
    </head>
{{end}}

{{define "hamburger"}}
 
  <div id="hamburger" onclick="showNav()">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div id="menu">
    <div id="closeMenu" onclick="closeNav()">X</div>
    <ul>
      <li id="home"><a href="/">Reliable Property Management</a></li>
      <li><a href="/inspection">Assessment Services</a></li>
      <li><a href="/services">Property Services</a></li>
      <li><a href="/contact">Schedule Services</a></li>
    </ul>
  </div>

{{end}}

{{define "homePage"}}
  <div id="main">
    <div id="companyName">Reliable Property Management</div>
    <ul>
      <li>Vacant Property Services</li>
      <li>Rental Services</li>
      <li>General Groundskeeping</li>
      <li>Property Sitting at Hourly and Daily Rates + Travel Expenses</li>
      <li>Utilities Management</li>
      <li>Interior/Exterior Seasonal Decorating</li>
      <li>Property Beautification and Maintenance</li>
    </ul>

    <i><b>No Bullshit ★★★★★</b></i>
   <i>(681) - 222 - 5982 </i>

    <div id="contactMobile" class="contactHome">
      <a href="sms:+16812225982?body=Hello World!" class="textButt chbutt">CALL</a>
      <a href="sms:+16812225982?body=Hello World!" class="textButt chbutt">TEXT</a>
    </div>
  </div>

  <div id="secondMain">
    &#10049; 
  </div>
{{end}}

{{define "likeButton" }}
  <!-- <div id="fly" onclick="heart()"> -->
  <!--    &#9829; -->
  <!-- </div> -->

  <!-- <div id="popupLike"> -->
  <!--   Like us on Facebook -->
  <!-- </div> -->

{{end}}

{{define "footer"}}
  <div id="foot">
    <div id="sym">☯</div>
    <div id="povi">POSITIVE VIBES 4 EVER</div>
  </div>
{{end}}

{{define "inspection"}}
  <div id="inspectionMain">
  <div id="inspectionTop" class="topText">
    At Reliable Property Management, we work with you to design a custom 
    property assessment, tailored to your exact specifications. This is a 
    sample of a multi-point assessment. Actual assessment may vary depending on 
    which package best fits your needs.
  </div>
  <div>
    <ul>
      <li>Door Locks</li>
      <li>Window Locks</li>
      <li>Signs of Forced Entry</li>
      <li>Looting</li>
      <li>Storm Damage</li>
      <li>Rodents and Pests</li>
      <li>Plumbing and Septic</li>
      <li>Electrical Issues</li>
      <li>Insulation Issues</li>
      <li>Paint Degradation</li>
      <li>Vinyl Siding</li>
      <li>Windows</li>
      <li>Roof</li>
      <li>Gutters</li>
      <li>Hedges</li>
      <li>Mulch</li>
      <li>Ornamental Plants</li>
      <li>Foundation</li>
      <li>Odd Smells</li>
      <li>Fences</li>
      <li>Gates</li>
      <li>Perimeter</li>
    </ul>
  </div>

  <div class="house fern">
    <img src="public/images/house2.png"/>
  </div>

  </div>
{{end}}

{{define "services"}}
  <div id="servicesMain">
    <div id="servicesTop" class="topText">
      These are few of the services Reliable Property Management can offer or
      sub-contract:
    </div>

    <ul>
      <li>Trail Cameras</li>
      <li>Hunting Stands</li>
      <li>Hunting Grounds Maintenence</li>
      <li>Landscaping</li>
      <li>Mail and Packages</li>
      <li>Taxes and Utilities</li>
      <li>Seasonal Up-Keep</li>
      <li>Decorations</li>
      <li>Beautifications</li>
      <li>Dog and Fox Kennels</li>
      <li>Surface Cleaning</li>
    </ul>

    <div class="fern">
      <img src="public/images/fern.png"/>
    </div>

  </div>
{{end}}

{{define "contact"}}
  <div id="contactMain">
    <div id="contactDesktop">
      Call or Text 
      <br>
      (681) - 222 - 5982
    </div>
    <div id="contactMobile">
      <a href="sms:+16812225982?body=Hello World!" class="textButt">CALL</a>
      <a href="sms:+16812225982?body=Hello World!" class="textButt">TEXT</a>
    </div>
  </div>
  <div class="fern palm">
    <img src="public/images/palm.png"/>
  </div>


{{end}}

